// main: main.scss

* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
        // GOOGLE FONT
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;    
}

