// main: main.scss

li, a, button {
    color: rgb(0, 0, 0);
    text-decoration: none;
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    box-shadow: 0px 0px 18px -2px #606060;
    border-radius: 50px;
    border: 1px solid $black;
}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a {
    transition: all 0.3s ease 0s;
}

.navbar li a:hover {
    color: green;
}

button {
    padding: 9px 25px;
    background-color: $green-not-selected;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: $green-selected;
}

.logo {
    width: 80px;
    cursor: pointer;
}

