// main: main.scss

* {
        // GOOGLE FONT
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;    
}

.container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
