// main: main.scss

* {
    // GOOGLE FONT
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.container-2 {
    display: flex;
    padding: 50px;
    margin: 50px;
    align-items: flex-end;
    position: static;
}

.uno {
    border: 1px solid $black;
}

.due {
    border: 1px solid $black;
}

.tre {
    border: 1px solid $black;
}

.quattro {
    border: 1px solid $black;
}