// main: main.scss

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 5px;
    box-shadow: 0px 0px 18px -2px #606060;
    border-radius: 50px;
    border: 1px solid $black;
}

footer li {
    display: inline-block;
    padding: 0px 20px;
}

footer li a {
    transition: all 0.3s ease 0s;
}

footer li a:hover {
    color: green;
}

button {
    padding: 9px 25px;
    background-color: $green-not-selected;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: $green-selected;
}

.logo-social {
    width: 45px;
    cursor: pointer;
}

.footer {
    position: relative;
    min-height: 100vh;
}

.footer {
    padding-bottom: 2.3rem;    /* altezza del footer */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;            /* altezza del footer */
}
